<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul th:each="Album : ${albums}">
    <li th:text="'Album name: ' + ${album.title}"></li>
    <li th:text="'Artist: ' + ${album.artist}"></li>
    <li th:text="'Songs: ' + ${album.songCount}"></li>
    <li th:text="'Length: ' + ${album.length}"></li>
    <li th:text="'Image: ' + ${album.artistPicUrl}"></li>
    <div>Songs:</div>
    <ul th:each="songs : ${Album.song}">
    <li th:text="${album.title}"></li>
    </ul>
    <form action="/add-song">
    <fieldset>
        <legend>Add a song to this album!</legend>
        <label>Song Name</label>
        <input type="text" name="songName">
        <input type="hidden" name="album" th:value="${album.title}">
    </fieldset>
    </form>
</ul>
<div th:each="album: ${albumsCollection}">
    <h1>Title: <span th:text="${album.title}"></span></h1>
    <p>Artist: <span th:text="${album.artist}"></span></p>
    <p>Song Count: <span th:text="${album.songCount}"></span></p>
    <p>Length: <span th:text="${album.length}"></span></p>
    <img alt="album webpage" th:src="${album.artistPicUrl}">
</div>

</body>
</html>